services:
  traefik:
    image: traefik:v3.5.4@sha256:4df0a50fcf71b454c0d7ad17675776dc8d37359deae3291895bdaa008c1b9972
    container_name: traefik
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /docker/traefik/letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./config/traefik.hbs.yml:/etc/traefik/traefik.yml:ro
      - ./config/dynamic.hbs.yml:/etc/traefik/dynamic.yml:ro
    environment:
      - PORKBUN_API_KEY={{{traefik:SECRET_PORKBUN_API_KEY}}}
      - PORKBUN_SECRET_API_KEY={{{traefik:SECRET_PORKBUN_SECRET_API_KEY}}}
    labels:
      - "loggifly.monitor=true"
      - "loggifly.attach_logfile=true"
      - "loggifly.keywords.0.regex= ERR "
      - "loggifly.keywords.0.notification_title={{{@lxc.hostname}}}#{container} - error"
      - "loggifly.keywords.0.action=restart"
      - "loggifly.keywords.0.action_cooldown=60"
    networks:
      - traefik

  loggifly:
    image: ghcr.io/clemcer/loggifly:v1.7.2@sha256:6faa4d4964994a9213494f879b58085acc04cafa2927cadfde98657676dfd199
    container_name: traefik-loggifly
    # It is recommended to run the container as the same UID/GID as the owner of your docker socket to avoid running as root.
    # But you can also just comment out the user line and run as root.
    # You can check the socket permissions with `ls -n /var/run/docker.sock`
    # user: "0:996"
    read_only: true
    environment:
      TZ: "{{{global:TIMEZONE}}}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config:/config
    restart: unless-stopped

networks:
  traefik:
    external: true
