http:
  middlewares:
    oidc-auth:
      plugin:
        oidc-authentication:
          Provider:
            ClientId: "{{{traefik:SECRET_OIDC_CLIENT_ID}}}"
            ClientSecret: "{{{traefik:SECRET_OIDC_CLIENT_SECRET}}}"
            Url: "https://{{{domainForApp 'pocket-id' hostname='admin'}}}"
          Scopes:
            - openid
            - profile
            - email
          # /api - so (most) apps can communicate with each other
          # /jsonrpc - nzbget's API route
          BypassAuthenticationRule: "PathRegexp(`/api`) || PathPrefix(`/jsonrpc`)"
