http:
  middlewares:
    oidc-auth:
      plugin:
        oidc-authentication:
          Secret: "{{{traefik:SECRET_OIDC_MIDDLEWARE_SECRET}}}"
          Provider:
            ClientId: "{{{traefik:SECRET_OIDC_CLIENT_ID}}}"
            ClientSecret: "{{{traefik:SECRET_OIDC_CLIENT_SECRET}}}"
            Url: "https://{{{domainForApp 'pocket-id' hostname='admin'}}}"
          Scopes:
            - openid
            - profile
            - email
          # /api - so (most) apps can communicate with each other
          # /rest,/auth,/share - navidrome API
          # /jsonrpc - nzbget's API route
          # /notify - apprise API
          BypassAuthenticationRule: "PathRegexp(`/api`) || PathRegexp(`^/\\d+/`) || PathPrefix(`/rest`) || PathPrefix(`/auth`) || PathPrefix(`/share`) || PathPrefix(`/jsonrpc`) || PathPrefix(`/v1.Backrest`) || PathPrefix(`/notify`)"
