hostname = "backup"
description = "various backup-related services"

[stacks]
traefik = {}
dozzle = {}
backrest = {}
dagu = {}
forgejo = {}
syncthing = {}

[cpu]
cores = 4

[memory]
dedicated = 8192
swap = 4096

[disk]
size = 8

[[firewall_rules]]
enabled = true
type = "in"
action = "ACCEPT"
dport = "222"
proto = "tcp"
comment = "forgejo ssh"

[[firewall_rules]]
enabled = true
type = "in"
action = "ACCEPT"
dport = "22000"
proto = "tcp"
comment = "syncthing-sync"

[[firewall_rules]]
enabled = true
type = "in"
action = "ACCEPT"
dport = "22000"
proto = "udp"
comment = "syncthing-sync-quic"

[[firewall_rules]]
enabled = true
type = "in"
action = "ACCEPT"
dport = "21027"
proto = "udp"
comment = "syncthing-local-discovery"

[[mount_points]]
volume = "{{{@pve.lxc.app_data_dir}}}/backup"
mount_point = "/docker"

[[mount_points]]
volume = "/void/backups"
mount_point = "/mnt/backup-data/backups"

[[mount_points]]
volume = "/void/documents"
mount_point = "/mnt/backup-data/documents"

[[mount_points]]
volume = "/void/drive"
mount_point = "/mnt/backup-data/drive"

[[mount_points]]
volume = "/void/photos"
mount_point = "/mnt/backup-data/photos"

[[mount_points]]
volume = "/void/restic/repos"
mount_point = "/mnt/repos"

[[mount_points]]
volume = "/void/documents"
mount_point = "/mnt/documents"

[[mount_points]]
volume = "/void/drive"
mount_point = "/mnt/drive"

[[mount_points]]
volume = "/void/media"
mount_point = "/mnt/media"

[[mount_points]]
volume = "/void/photos"
mount_point = "/mnt/photos"

[[provisioners]]
type = "ansible"
playbook = "provisioners/ansible/configure-apparmor-unconfined.yaml"
replayable = false

[provisioners.variables]
lxc_id = "{{{idForContainer hostname='backup'}}}"

[provisioners.connection]
host = "{{{@pve.ip}}}"

[[provisioners]]
type = "ansible"
playbook = "provisioners/ansible/lxc-init.yaml"
replayable = false

[[provisioners]]
type = "ansible"
playbook = "provisioners/ansible/git-server-setup.yaml"
replayable = true

[[provisioners]]
type = "ansible"
playbook = "provisioners/ansible/create-ssh-key.yaml"
replayable = false

[provisioners.variables]
public_key = "{{{@pve.ssh.public_key}}}"
private_key = """{{{@pve.ssh.private_key}}}"""

[[provisioners]]
type = "script"
script = "provisioners/scripts/install-docker.sh"
