hostname = "servarr"
description = "servarr media stack"

[stacks]
traefik = {}
dozzle = {}
[stacks.servarr]
subdomains = [
    "apprise",
    "qbittorrent",
    "nzbget",
    "slskd",
    "radarr",
    "sonarr",
    "lidarr",
    "prowlarr",
    "bazarr",
    "profilarr",
    "huntarr",
    "cleanuparr",
]

[cpu]
cores = 4

[memory]
dedicated = 8192
swap = 4096

[disk]
size = 64

[[firewall_rules]]
enabled = true
type = "in"
action = "ACCEPT"
proto = "tcp"
comment = "qbittorrent bittorrent"
dport = "6881"

[[firewall_rules]]
enabled = true
type = "in"
action = "ACCEPT"
dport = "50300"
proto = "tcp"
comment = "slskd-listen"

[[mount_points]]
volume = "{{{@pve.lxc.app_data_dir}}}/servarr"
mount_point = "/docker"

[[mount_points]]
volume = "/void/media"
mount_point = "/mnt/media"

[[provisioners]]
type = "ansible"
playbook = "provisioners/ansible/configure-apparmor-unconfined.yaml"
replayable = false

[provisioners.variables]
lxc_id = "{{{idForContainer hostname='servarr'}}}"

[provisioners.connection]
host = "{{{@pve.ip}}}"

[[provisioners]]
type = "ansible"
playbook = "provisioners/ansible/lxc-init.yaml"
replayable = false

[[provisioners]]
type = "script"
script = "provisioners/scripts/install-docker.sh"

[[provisioners]]
type = "ansible"
playbook = "provisioners/ansible/configure-tun-access.yaml"
replayable = false

[provisioners.variables]
lxc_id = 201

[provisioners.connection]
host = "{{{@pve.ip}}}"
